<div class="ui tab" data-tab="recurring">
    <h3 class="ui dividing header">
        {{ 'bitbag_sylius_przelewy24_plugin.ui.recurring'|trans }}
    </h3>

    <div class="ui segment">
        {{ form_row(form.przelewy24ProductVariant) }}
    </div>

    {{ sylius_template_event(['sylius.admin.product_variant.' ~ action ~ '.tab_recurring', 'sylius.admin.product_variant.tab_recurring'], { 'form': form }) }}
</div>
